/*模态框*/
.modal {
    display: none; /* 默认隐藏 */
    position: fixed; /* 根据浏览器定位 */
    z-index: 1; /* 放在顶部 */
    left: 0;
    top: 0;
    width: 100%; /* 全宽 */
    height: 100%; /* 全高 */
    overflow: auto; /* 允许滚动 */
    background-color: rgba(0, 0, 0, 0.4); /* 背景色 */
}

/*模态框内容*/
.modal-content {
    display: flex; /*采用flexbox布局*/
    flex-direction: column; /*垂直排列*/
    position: relative;
    background-color: #fefefe;
    margin: 10% auto; /*距顶部15% 水平居中*/
    padding: 10px;
    border: 1px solid #888;
    width: 40%;
    height: 60%;
    animation: topDown 0.4s; /*自定义动画，从模态框内容上到下出现*/
}

@keyframes topDown {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}

/*模态框头部*/
.modal-header {
    height: 60px;
    padding: 8px;
    display: flex; /*采用flexbox布局*/
    flex-direction: row; /*水平布局*/
    align-items: center; /*内容垂直居中*/
    justify-content: space-between;
}

.modal-body {
    padding-bottom: 25px;
    height: 65%;
}

.modal-footer {
    height: 60px;
    /*padding-top: 120px;*/
    display: flex; /*采用flexbox布局*/
    flex-direction: row; /*水平布局*/
    align-items: center; /*内容垂直居中*/
    justify-content: space-between;
}

/*关闭X 样式*/
.close {
    color: #292929;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.form-control {
    border-radius: 100px;
    margin-bottom: 8%;
}
